#hubspot-messages-iframe-container {
  z-index: 1 !important;
}

/* #main-chat-btn_text {
  position: fixed;
  bottom: 25px;
  right: 90px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
  background-color: #de469c;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  transition: 1s ease;
  z-index: 2;
} */

#main-chat-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  background-color: #de469c;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  transition: 1s ease;
  z-index: 2;
}

#main-chat-menu {
  position: fixed;
  bottom: 96px;
  right: 16px;
  width: 376px;
  height: 481px;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  background-color: #fff;
  color: #ffffff;
  border: none;
  border-radius: 18px;
  z-index: 2;
}

#chat-header {
  width: 100%;
  height: 101px;
  /* background-image: linear-gradient(to right, #33475b, #506e8e); */
  background-color: #de469c;
  display: flex;
  flex-direction: column;
  border-radius: 18px 18px 0px 0px;
}

#chat-footer {
  width: 100%;
  height: 70px;
  margin-top: auto;
  /* background-image: linear-gradient(to right, #33475b, #506e8e); */
  /* background-color: #00A4BD; */
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 40px;
  border-radius: 0px 0px 18px 18px;
}

#chat-footer i {
  font-size: 20px;
  color: gray;
}

#chat-footer .btn:hover {
  cursor: pointer;
}

#talk_go:hover {
  cursor: pointer;
}

/* #chat-footer .icon1:hover {
    color: orangered;
  }
  #chat-footer .fa-whatsapp:hover {
    color: greenyellow;
  }
  #chat-footer .fa-envelope:hover {
    color: lightseagreen;
  } */

.btn_shado {
  transition: 0.1s linear;
}

.btn_shado:hover {
  /* scale: 1.03; */
  transition: 0.1s ease-in;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#icon1 {
  display: inline-block;
  width: 20px; /* Width of your icon */
  height: 20px; /* Height of your icon */
  background-image: url("https://25391713.fs1.hubspotusercontent-eu1.net/hubfs/25391713/chat_icon_pink.png");
  background-size: cover;
  /* Additional styling as needed */
}
